body,
html {
  height: 100%;
}

.bg {
  background-image: url('http://localhost:3000/background-image.jpeg');
  background-color: gray;
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.banner {
  color: green;

}

.imgblock {
  display: inline-block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



.card-1 {
  width: 14rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px;
}